<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Match Info</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" href="style.css">
	<script type="module">
		import { receiveLocalStorage } from "/api/js/localStorage";
		receiveLocalStorage();
	</script>
</head>
<body>

<div id="container">
	<div class="support-info">
		<label for="casters"></label>
		<input type="text"
			   id="casters"
			   v-model="casters"
			   autocomplete="off"
			   placeholder="Введите кастеров через пробел">

		<label for="stage"></label>
		<input type="text"
			   id="stage"
			   v-model="stage"
			   autocomplete="off"
			   placeholder="Введите название этапа">
	</div>

	<div class="teams">
		<div class="team team-a">
			<select name="team-a" id="team-a-select" class="team-name" v-model="team1"
					v-on:click="getTeams()"
					v-on:change="getLogo(team1, 'a')">
				<option value="" selected disabled>Выбери команду A</option>
				<option v-for="team in teams" :value="team">{{team}}</option>
			</select>
			<img :src="team1URL" alt="" class="logo logo-a">
		</div>
		<p class="vs">VS</p>
		<div class="team team-b">
			<select name="team-a" id="team-b-select" class="team-name" v-model="team2"
					v-on:click="getTeams()"
					v-on:change="getLogo(team2, 'b')">
				<option value="" selected disabled>Выбери команду B</option>
				<option v-for="team in teams" :value="team">{{team}}</option>
			</select>
			<img :src="team2URL" alt="" class="logo logo-b">
		</div>
	</div>

	<button class="send" onclick="send()">Отправить</button>

</div>

<script src="vue.js"></script>
</body>
</html>
