<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Match Info</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

</head>
<body>

<div id="container">

	<div class="support-info">
		<label for="casters"></label>
		<input type="text"
			   id="casters"
			   placeholder="Введите кастеров через пробел">

		<label for="stage"></label>
		<input type="text" id="stage" placeholder="Введите название этапа">
	</div>

	<div class="teams">
		<div class="team team-a">
			<select name="team-a" id="team-a-select" class="team-name" v-model="team1" onclick="vue.getTeams()">
				<option value="None" selected disabled>Выбери команду</option>
				<option v-for="team in teams" value="team">{{team}}</option>
			</select>
			<img src="" alt="" class="logo">
		</div>
	</div>

</div>

<script src="vue.js"></script>
</body>
</html>
